In [ ]:
import numpy as np
import pandas as pd

## Question 1: Version of Pandas

In [ ]:
pd.__version__

'2.0.3'

### Reading California Housing Prices dataset

In [ ]:
df = pd.read_csv('housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## Question 2: Number of columns in the dataset

_using the shape method returns a tuple containg the number of rows and columns, with the columns being the second index._

In [ ]:
df.shape[1]

10

## Question 3: Select columns with missing data

In [11]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4: Number of unique values in the 'ocean_proximity' column

In [14]:
df['ocean_proximity'].nunique()

5

## Question 5: Average value of the 'median_house_value' for the houses near the bay
_filter the column ocean_proximity by NEAR BAY then get the mean_

In [23]:
df[df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean().round(1)

259212.3

## Question 6: Has the mean value changed after filling missing values?
_1. Calculate the average of total_bedrooms column in the dataset._

In [28]:
total_bedrooms_average = df['total_bedrooms'].mean().round(2)
total_bedrooms_average

537.87

_2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step._

In [37]:
df['total_bedrooms'].fillna(total_bedrooms_average, inplace=True)

_3. Now, calculate the average of total_bedrooms again._

In [27]:
total_bedrooms_average = df['total_bedrooms'].mean().round(2)
total_bedrooms_average

537.87

## Questions 7: Value of the last element of w
_Select all the options located on islands._

In [34]:
df_island = df[df['ocean_proximity']=='ISLAND']
df_island

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

_Select only columns housing_median_age, total_rooms, total_bedrooms._

In [51]:
df_island = df_island[['housing_median_age','total_rooms','total_bedrooms']]

_Get the underlying NumPy array. Let's call it X._

In [54]:
X = df_island.values

_Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX._

In [61]:
XT = X.T
XTX = np.dot(XT, X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

_Compute the inverse of XTX._

In [63]:
XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

_Create an array y with values [950, 1300, 800, 1000, 1300]._

In [67]:
y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

_Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w._

_What's the value of the last element of w?_

In [71]:
z = np.dot(XTX_inverse,XT)
w = np.dot(z,y)
w[-1]

5.699229455065565